@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: 'Inter Variable';
  src: url('/fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

@theme inline {
  --font-sans: 'Inter Variable', sans-serif;
  --font-mono: var(--font-ibm-plex-mono), monospace;

  --background-color-primary: var(--bg-primary);
  --background-color-secondary: var(--bg-secondary);
  --background-color-tertiary: var(--bg-tertiary);
  --background-color-dark: var(--bg-dark);
  --background-color-darker: var(--bg-darker);
  --text-color-primary: var(--fg-primary);
  --text-color-secondary: var(--fg-secondary);
  --text-color-tertiary: var(--fg-tertiary);
  --border-color-primary: var(--border-primary);
  --border-color-strong: var(--border-strong);
  --border-color-stronger: var(--border-stronger);
  --border-color-subtle: var(--border-subtle);
}

:root {
  --bg-primary: oklch(1 0 0);
  --bg-secondary: oklch(0.985 0.001 106.4);
  --bg-tertiary: oklch(0.951 0.003 17.2);
  --bg-dark: oklch(0.893 0.005 67.8);
  --bg-darker: oklch(0.823 0.006 59.6);
  --fg-primary: oklch(0.271 0.007 67.5);
  --fg-secondary: oklch(0.455 0.005 56.3);
  --fg-tertiary: oklch(0.633 0.008 61.4);
  --border-primary: oklch(0 0 0 / 0.5);
  --border-strong: oklch(0 0 0 / 0.7);
  --border-stronger: oklch(0 0 0 / 0.9);
  --border-subtle: oklch(0 0 0 / 0.2);
}

.dark {
  --bg-primary: oklch(0.239 0 0);
  --bg-secondary: oklch(0.205 0 0);
  --bg-tertiary: oklch(0.182 0 0);
  --bg-dark: oklch(0.182 0 0);
  --bg-darker: oklch(0 0 0);
  --fg-primary: oklch(0.919 0 0);
  --fg-secondary: oklch(0.827 0 0);
  --fg-tertiary: oklch(0.732 0 0);
  --border-primary: oklch(1 0 0 / 0.4);
  --border-strong: oklch(1 0 0 / 0.6);
  --border-stronger: oklch(1 0 0 / 0.8);
  --border-subtle: oklch(1 0 0 / 0.2);
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring) 50%;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  html {
    color-scheme: light;
    scroll-behavior: smooth;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  html {
    @apply bg-secondary flex min-h-screen flex-col font-sans;
  }

  [data-theme='dark'] {
    color-scheme: dark;
    -webkit-font-smoothing: antialiased;
  }

  button,
  [role='button'] {
    cursor: pointer;
  }
}
