---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Accordion from '@/components/controls/Accordion.astro'
import FormulaCard from '@/components/FormulaCard.astro'
import { getCollection } from 'astro:content'
import Search from '@/components/Search.astro'
import ColorBars from '@/components/ColorBars.astro'
const formulas = await getCollection('formulas')
---

<BaseLayout
  title="Graphics Formulas"
  description="A collection of useful formulas for graphics programming."
  cover=""
>
  <div>
    <div class="flex flex-col gap-6 border-b px-4 pt-36 pb-10 md:px-12">
      <div>
        <h1 class="text-3xl font-medium tracking-tight text-balance uppercase md:text-4xl">
          Equations
        </h1>
        <ColorBars />
      </div>
      <div class="mx-auto w-[600px]">
        <Search />
      </div>
    </div>
    <!-- <div class="flex w-80 justify-center">
      <Accordion title="Welcome to Equation Snippets">
        <div>Hello world</div>
      </Accordion>
    </div> -->
    <section id="formula-cards" class="grid grid-cols-1 gap-6 p-4 md:grid-cols-2 lg:grid-cols-3">
      {formulas.map((formula) => <FormulaCard formula={formula} />)}
    </section>
  </div>
</BaseLayout>
