<section>
  <header>
    <select>
      <option value="">Select an option</option>
    </select>
    <button id="copy-button">Copy</button>
  </header>
  <div>
    <pre data-language="js">
            <code>
            </code>
        </pre>
  </div>
</section>

<script lang="ts">
  const copyBtn = document.getElementById('copy-button')
</script>
