---
import { Icon } from 'astro-icon/components'
---

<footer class="bg-dark px-8 pt-6 pb-4">
  <div class="flex w-full items-center justify-between gap-2 text-sm">
    <a href="https://github.com/ldavidson8/equation-snippets">
      <span>Submit new equations</span>
    </a>
    <a href="https://github.com/ldavidson8/equation-snippets" class="hover:underline">
      <Icon name="tabler:brand-github" class="size-5" />
      <span class="sr-only">GitHub Link</span>
    </a>
  </div>
</footer>
