---
import katex from 'katex'
const { latex } = Astro.props
const rendered = katex.renderToString(latex, {
  throwOnError: false,
  displayMode: true,
  strict: false,
  output: 'html',
})
---

<div class="math-display my-4 overflow-x-auto rounded border p-4">
  <span class="katex-display" set:html={rendered} />
</div>
