---
import { Icon } from 'astro-icon/components'
---

<button
  id="header-theme-button"
  aria-label="Toggle light and dark theme"
  class="flex transition-colors hover:text-gray-900 dark:text-gray-200 dark:hover:text-gray-100"
>
  <Icon name="tabler:sun" class="block size-5 dark:hidden" />
  <Icon name="tabler:moon" class="hidden size-5 dark:block" />
</button>

<script>
  function changeTheme() {
    const element = document.documentElement
    const isDark = element.classList.contains('dark')
    const nextTheme = isDark ? 'light' : 'dark'

    if (nextTheme === 'dark') {
      element.classList.add('dark')
      element.setAttribute('data-theme', 'dark')
    } else {
      element.classList.remove('dark')
      element.setAttribute('data-theme', 'light')
    }

    localStorage.theme = nextTheme
  }

  function initTheme() {
    const headerThemeButton = document.getElementById('header-theme-button')
    headerThemeButton?.removeEventListener('click', changeTheme)
    headerThemeButton?.addEventListener('click', changeTheme)
  }

  initTheme()
  document.addEventListener('astro:after-swap', initTheme)
</script>
